<%= form_with url: '/login', method: :post, local: true do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit 'SIGN IN' %>
<% end %>

<p>
  Don't have an account yet? <%= link_to 'Register with F1', register_path  %>
</p>
