<h2>SIGN IN</h2>

<%= form_with url: '/login', method: :post, local: true do |form| %>
  <p>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </p>
  <p>
    <%= form.submit 'SIGN IN' %>
  </p>
<% end %>
<p>
  Don't have an account yet? <%= link_to 'Register with F1', register_path  %>
</p>
